.root { display: flex; align-items: center; gap: var(--icon-default); min-width: 0; }
.select { width: auto; max-width: 180px; }
.select button { max-width: 100%; }
.select button > svg:last-child { color: var(--text); }
.error { max-width: 160px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; color: var(--sub-text); font-size: inherit; }
