.avatar { display: inline-flex; width: var(--icon-size-default); height: var(--icon-size-default); flex-shrink: 0; }
.avatar[data-preview] { width: 32px; height: 32px; }
.avatar > svg { display: block; width: 100%; height: 100%; }
